#!/bin/bash

set -eu

# Check if Homebrew is installed
if ! command -v brew &> /dev/null; then
    echo "Homebrew not found. Installing Homebrew..."

    {{ if eq .chezmoi.os "darwin" }}
    # macOS installation
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    # Add Homebrew to PATH if it's not there (for the current session)
    if [[ $(uname -m) == "arm64" ]]; then
        eval "$(/opt/homebrew/bin/brew shellenv)"
    else
        eval "$(/usr/local/bin/brew shellenv)"
    fi
    {{ else if eq .chezmoi.os "linux" }}
    # Linux installation
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    # Add Homebrew to PATH if it's not there (for the current session)
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    {{ end }}

    echo "Homebrew has been installed."
else
    echo "Homebrew is already installed. Skipping..."
fi

# Run brew bundle
echo "Running brew bundle..."
brew bundle --file="$HOME/Brewfile"

echo "Homebrew setup complete."
